<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CompetitiveStatTracker.My.MySettings.SmiteDatabaseConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\SmiteDatabase.mdb"
            providerName="System.Data.OleDb" />
        <add name="CompetitiveStatTracker.My.MySettings.SmiteDatabaseConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\My Project\DataSources\SmiteDatabase.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="CompetitiveStatTracker.My.MySettings.SmiteConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Smite.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>